<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519003371021-ts5ab8l4mq0m0bl2t0jnfhs4v30nkirc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519003371021-ts5ab8l4mq0m0bl2t0jnfhs4v30nkirc</string>
	<key>API_KEY</key>
	<string>AIzaSyCYqsPQRPzygecVMY4EnDY5dH9GcRu3btc</string>
	<key>GCM_SENDER_ID</key>
	<string>519003371021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bossanovasolutions.blackjack</string>
	<key>PROJECT_ID</key>
	<string>boilerplate-854ae</string>
	<key>STORAGE_BUCKET</key>
	<string>boilerplate-854ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519003371021:ios:e343174a203bc08c21c744</string>
</dict>
</plist>